{% load static %} 
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
<style type="text/css">
h2 {
  background-color: yellow;
  margin: 0% 44% 0% 40%;
}

</style></head>
<body style="background-color: #009900;">
  <h2>詳細選択</h2>
<p>下の表から遊びたいボードゲームを選択してください</p>
<table style="width: 100%" border="1">
<tbody style="background-color: white; border-spacing: 10px;">

<p>選択したら<a href="https:://172.17.153.187:8080/choice">こちら</a>の画面に戻って待機画面に進んでください</p>
</body></html>
