h1 {
  text-align: center;
  background-color: white;
  border: 5px double red;
  font-family: "HG創英角ﾎﾟｯﾌﾟ体";
}

button {
  border-color: red;
  border-width: 5px;
  font-family: "HG創英角ｺﾞｼｯｸUB";
}

p {
  font-family: "HG創英角ｺﾞｼｯｸUB";
}
